<?xml version="1.0"?>

<model>
  <name>Four-bar linkage in URDF with split link and fixed joint</name>
  <version>1.0</version>
  <sdf version="1.6">model.urdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    Four-bar linkage in modeled in URDF.
    One of the links is split in half and re-connected with a fixed joint.
  </description>

</model>
