<?xml version="1.0"?>

<model>
  <name>Inertia Ratio Pendulum</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    A double pendulum with a large inertia ratio between the two links.
  </description>

</model>

