<?xml version="1.0"?>

<model>
  <name>Four-bar linkage in SDF</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    Four-bar linkage in modeled in SDFormat.
  </description>

</model>
